<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3a34e017-62d1-4f4f-b16f-6d65d455a9e3/resourceGroups/FaceCrimAPIResourceGroup/providers/Microsoft.Web/sites/FaceCrim</ResourceId>
    <ResourceGroup>FaceCrimAPIResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://facecrim.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9669e1da-93f8-4728-b4a4-83bd03b004c1</ProjectGuid>
    <MSDeployServiceURL>facecrim.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FaceCrim</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FaceCrim</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAt2E/8olp+UeAMpFkdAeMxAAAAAACAAAAAAAQZgAAAAEAACAAAABcOKip5huxNx5qJgYArTXeDo7G2JoguUTt/mxIdOk5kAAAAAAOgAAAAAIAACAAAAA/IcXDk8CuUbwLIwq7hkM3xwHYsKQUd7kU6jdSXOMq9yAAAAB92wS02muPKoVoDtoW4YkJBkzYKFkNI+eX1q1YaxS5D0AAAABwFbijD2HfbyoPvLZl12irE/Fx0k4moOAnFLabcz0YAoRARNkfRTHSPLoO9fApQlcJOxJRT+d1TR5n79hXROMg</EncryptedPassword>
    <History>False|2024-12-04T23:08:09.7263769Z||;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>